body {
    margin: 0;
}

.loading-overlay {
    display: flex;
    position: fixed;
    inset: 0;
    background-color: rgba(1, 1, 1, 0.2);
}

.loading-overlay span {
    margin: auto;
    font-size: 6rem;
    color: #fff;
}

.images {
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    height: 100vh;
}

img {
    object-fit: contain;
}

.hidden {
    display: none;
}
