<!DOCTYPE html>
<html lang="en">
  <head>
    <title>SIM Barcelona app</title>
    <script type="module" src="/assets/app.mjs"></script>
  </head>
  <body>
    <div id="main">
      <div>
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/49/Koala_climbing_tree.jpg/640px-Koala_climbing_tree.jpg"
        />
      </div>
      <button onClick="generateImage()">Generate image</button>
    </div>
    <div style="display: flex; flex-flow: row nowrap">
      <img id="before" style="width: 50%; object-fit: contain" />
      <img id="result" style="width: 50%; object-fit: contain" />
    </div>

    <pre id="log">Log:</pre>
  </body>
</html>

<script>
  function onCallStateChange(event) {
    console.log(event);
    disableLoading();
  }

  function generateImage() {
    let request = new XMLHttpRequest();

    request.onload = function () {
      alert("request send");
      disableLoading();
    };
    request.open("GET", "python_call_test", true);
    request.send();

    document.getElementById("main").innerHTML += `
            <div id="loading-div" class="loading-div">
                <text class="loading-text">loading...</text>
            </div>`;
    // setTimeout(() => disableLoading(), 3000)
  }

  function disableLoading() {
    const mainEl = document.getElementById("main");
    mainEl.removeChild(mainEl.lastChild);
  }
</script>

